<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="School_Management_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="School_Management_System.My.MySettings.school_mgm_dbConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=school_mgm_db;Persist Security Info=True;User ID=sa;password = passwork"
            providerName="System.Data.SqlClient" />
        <add name="School_Management_System.My.MySettings.school_mgm_dbConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=school_mgm_db;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <School_Management_System.My.MySettings>
            <setting name="userDB" serializeAs="String">
                <value />
            </setting>
            <setting name="passDB" serializeAs="String">
                <value />
            </setting>
            <setting name="serverDB" serializeAs="String">
                <value />
            </setting>
            <setting name="nameDB" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultPrinterName" serializeAs="String">
                <value />
            </setting>
        </School_Management_System.My.MySettings>
    </userSettings>
</configuration>
