<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="School_Management_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <School_Management_System.My.MySettings>
            <setting name="userDB" serializeAs="String">
                <value/>
            </setting>
            <setting name="passDB" serializeAs="String">
                <value/>
            </setting>
            <setting name="serverDB" serializeAs="String">
                <value/>
            </setting>
            <setting name="nameDB" serializeAs="String">
                <value/>
            </setting>
            <setting name="defaultPrinterName" serializeAs="String">
                <value/>
            </setting>
        </School_Management_System.My.MySettings>
    </userSettings>
</configuration>
